body {
	background-color: rgba(90, 152, 228, 0.495);
}
h3 {
	margin-bottom: 5px;
	text-align: center;
	font-size: 30px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.card {
	border: 1.5px solid black;
	border-radius: 5px;
	margin-top: 120px;
	padding-bottom: 20px;
	width: 30rem;
}
.card-body {
	justify-content: center;
	padding-left: 20px;
	padding-right: 25px;
	background-color: rgb(52, 103, 158);
}
#result {
	width: 70%;
	height: 60px;
	margin-left: 65px;
	border: 1.5px solid black;
	border-radius: 5px;
	background-color: #fff;
	color: black;
	text-align: center;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 1.5rem;
}
label {
	color: black;
	font-size: large;
	font-weight: 500;
}
#num1,
#num2 {
	border: 1.5px solid black;
	border-radius: 5px;
	font-size: 20px;
	width: 6rem;
	height: 2.5rem;
	background-color: #ffffff;
	color: black;
	text-align: center;
	margin-top: 10px;
}
.btn {
	margin: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: aliceblue;
	border: 1px solid black;
	color: navy;
	font-size: large;
	font-weight: 500;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: x-large;
	font-weight: 500;
}
.operand{
	padding: 0%;
	text-align: center;
}
.inputlabel{
	position: absolute;
}